---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Expertise from '../components/Expertise.astro';
import Work from '../components/Work.astro';
import Philosophy from '../components/Philosophy.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <Expertise />
    <Work />
    <Philosophy />
    <Contact />
  </main>
  <Footer />
</Layout>
